/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

.noUser {
  background-color: #f2f2f2;
  padding: 3rem;
  text-align: center;
  border-radius: 10px;
}

h2 {
  font-size: 2rem;
  color: #f1622f;
  font-weight: bold;
  text-transform: uppercase;
}

h5 {
  font-size: 0.95rem;
  color: #464646;
}

.list-header {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-between;
}

.list h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.list h5 {
  font-size: 1rem;
}

.divider {
  border-top: 1px solid #464646;
  width: 100%;
  display: block;
  margin: 20px 0 35px 0;
}

.userDetail {
  display: flex;
  border: 1px solid #464646;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.userDetail h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.userDetail h5 {
  font-size: 0.75rem;
}

.userDetail i {
  font-size: 2rem;
  font-weight: bold;
  color: #ff0000;
}

.user {
  width: 100%;
}

.circle {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #464646;
  border-radius: 50%;
  margin-right: 30px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h4 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff0000;
}

.header h6 {
  font-size: 0.9rem;
}

.modal-body label {
  font-size: 0.9rem;
}

.basic {
  width: 300px;
  height: 300px;
  border: 1px solid hotpink;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.handler {
  cursor: -webkit-grabbing;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #c4c9cc;
}

.list-sorted {
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-right: 2rem;
  min-height: 250px;
}

.list-sorted__item {
  background-color: #fff;
  cursor: grabbing;
  display: block;
  position: relative;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

.table tbody tr {
  background: #fff;
  cursor: grab;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-height: 250px;
}

.cdk-drag-placeholder {
  background: #c4c9cc;
  padding: 20px;
  text-indent: -9999px;
  opacity: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
